.headerText{
    font-family: "Georgia" !important;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #e6ebee;
    width: 100%;
        background: #DB4E18;
        padding: 21px;
    
}

